<%- include("../partials/header") %>
    <%- include("../partials/heading") %>

        <hr>
        <div class="signup-form">
            <form action="/admin/vendors/new" method="POST">
                <h2>Add New Vedor</h2>
                <hr>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Vendor's email"
                        required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password for vendor"
                        required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Add Vendor</button>
                </div>
            </form>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="/items">GO BACK TO HOME</a>
        </div>