<%- include("../partials/header") %>
    <%- include("../partials/heading") %>

        <hr>
        <h1 class="portal"><small class="text-muted"><b>ADMIN PORTAL</b></small></h1>
        <div class="av-text-center">
            <a class="btn btn-danger btn-lg" href="/logout">LOG OUT</a>
        </div>
        <hr>
        <div class="signup-form">
            <form action="/admin/vendors/<%= vendor._id %>/remove" method="POST">
                <h2>Inform vendor</h2>
                <hr>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" name="email" value="<%= vendor.email %>"
                        required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" placeholder="Specify subject"
                        required="required">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="content" placeholder="Write your message" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Confirm deletion</button>
                </div>
            </form>
        </div>
        <div class="av-text-center">
            <a class="btn btn-primary btn-lg" href="/admin/vendors">GO BACK</a>
        </div>