<%- include("../partials/header") %>
    <%- include("../partials/heading") %>

        <hr>
        <% if(message){ %>
            <div class="alert alert-<%=message.type%> alert-dismissible" role="alert" style="text-align: center;">
                <strong>
                    <%=message.content%>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <% } %>

                <h1 class="portal"><small class="text-muted"><b>ADMIN PORTAL</b></small></h1>
                <div class="av-text-center">
                    <a class="btn btn-danger btn-lg" href="/logout">LOG OUT</a>
                </div>
                <hr>
                <div class="manage">
                    <div class="av-text-center">
                        <a class="btn btn-success btn-lg" href="/admin/addvendor">ADD NEW VENDOR</a>
                    </div>
                    <div class="av-text-center">
                        <a class="btn btn-success btn-lg" href="/admin/vendors">SHOW EXISTING VENDORS</a>
                    </div>
                    <div class="av-text-center">
                        <a class="btn btn-success btn-lg" href="/admin/vendors/requests">NEW REQUESTS FROM VENDORS</a>
                    </div>
                    <div class="av-text-center">
                        <a class="btn btn-primary btn-lg" href="/home">GO BACK TO HOME</a>
                    </div>
                </div>