<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div style="width: 100%;">
                    <h2><small class="text-muted"><b>About us</b></small></h2>
                    <hr>
                    <h5>
                        <small class="text-muted">
                            A platform for promoting Handcrafted apparels, Jewellery, Handicrafts, Furniture, Home decor
                            accesories from various parts of India. Delivered to you directly from craftsmen. We believe
                            that every craftsman is a magician, who can turn raw materials into wonderful masterpiece.
                            And
                            these are the pride of our nation. So Come on folks, let us be #vocalforlocal.
                        </small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <h2><small class="text-muted"><b>Contact us</b></small></h2>
                <hr>
                <a id="social-media" href="#" class="fa fa-facebook"></a>
                <a id="social-media" href="#" class="fa fa-twitter"></a>
                <a id="social-media" href="#" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</body>

</html>