<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">Wishlist</a>
    <a href="#contact">Cart</a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>