<div class="topnav" id="myTopnav">
    <a href="/home" class="active">Home</a>
    <a href="#">Wishlist</a>
    <a href="/cart">Cart</a>
    <% if(!currentUser) { %>
        <a id="link-decoration" href="/signin">Log in</a>
        <% }else{ %>
            <a id="link-decoration" href="/logout">Log out</a>
            <% } %>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
</div>