<%- include("partials/header") %>

    <div id="landing-container">
        <h3 id="landing-header">Welcome to Crave For Local!</h3>
        <a href="/items" class="btn btn-lg btn-info">Go to the shop</a>
    </div>