<%- include("./partials/header") %>
    <%- include("./partials/heading") %>

        <hr>
        <% if(message){ %>
            <div class="alert alert-<%=message.type%> alert-dismissible" role="alert" style="text-align: center;">
                <strong>
                    <%=message.content%>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <% } %>

                <div class="signup-form">
                    <form action="/signup" method="POST">
                        <h2>Sign Up</h2>
                        <hr>
                        <div class="form-group">
                            <input type="name" class="form-control" name="name" placeholder="Your name"
                                required="required">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Your email"
                                required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Your password"
                                required="required">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                        </div>
                    </form>
                </div>
                <div class="text-center">
                    <h6>Already have an account? Please, <a href="/signin">sign in.</a></h6>
                    <br>
                    <a class="btn btn-primary btn-lg" href="/home">GO BACK TO HOME</a>
                </div>