<%- include("../partials/header") %>
    <%- include("../partials/heading") %>
        <%- include("../partials/navbar") %>

            <div class="container">
                <div id="shadow-box" class="cart-container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="cart-img">
                                <img id="shadow-box" class="cartProduct-img" src="../images/images.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-4">
                            <div class="cart-info">
                                <h3><small class="text-muted"><b>Demo item</b></small></h3>
                                <h3><small class="text-muted">₹ 399</small></h3>
                                <br>
                                <div>
                                    <a class="btn btn-danger btn-sm" href="#">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shadow-box" class="cart-container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="cart-img">
                                <img id="shadow-box" class="cartProduct-img" src="../images/image.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-4">
                            <div class="cart-info">
                                <h3><small class="text-muted"><b>Demo item</b></small></h3>
                                <h3><small class="text-muted">₹ 399</small></h3>
                                <br>
                                <div>
                                    <a class="btn btn-danger btn-sm" href="#">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("../partials/footer") %>