<%- include("../partials/header") %>
    <%- include("../partials/heading") %>
        <%- include("../partials/navbar") %>

            <div class="container">
                <div id="shadow-box" class="details-container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="details-img">
                                <img class="product-img" id="shadow-box" src="../images/images.jpg" alt="demo">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            <div class="details-info">
                                <h3><small class="text-muted"><b>Demo item</b></small></h3>
                                <h4><small class="text-muted"><i>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting
                                            industry.</i></small></h4>
                                <h3><small class="text-muted">₹ 399</small></h3>
                                <div>
                                    <a class="btn btn-info btn-sm" href="#">Quantity</a>
                                    <a class="btn btn-info btn-sm" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("../partials/footer") %>