<%- include("../partials/header") %>
    <%- include("../partials/heading") %>

        <hr>
        <div id="shadow-box" class="confirmation">
            <h5>Team Crave For Local</h5>
            <hr>
            <h6 style="color: red;">Your order couldn't be placed. Please try again.</h6>
        </div>
        <div class="text-center">
            <a class="btn btn-outline-primary btn-lg" href="/home">GO BACK TO SHOP</a>
        </div>