<%- include("../partials/header") %>
    <%- include("../partials/heading") %>

        <div id="shadow-box" class="confirmation">
            <h5>Team Crave For Local</h5>
            <hr>
            <h6>Your order has been successfully placed.</h6>
            <p>Your order id is: <b style="color: rgb(80, 149, 80);">
                    <%= orderID %>
                </b>
            </p>
            <h6>You'll recieve a mail from us once it is confirmed.</h6>
        </div>
        <div class="text-center">
            <a class="btn btn-outline-primary btn-lg" href="/">GO BACK TO SHOP</a>
        </div>